<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#collapse-flags" data-toggle="collapse" class="accordion-toggle">
        Flags
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="collapse-flags">
    <div class="panel-body">
      <div class="col-md-4">
        <%= image_tag 'port_thumbs/feather.png', :class => 'img-responsive'%>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style">
          <%= image_tag 'eps.png', :class => 'img-responsive filetype-icon'%><br>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a href="/resources/templates/G4M-12FEATHERFLAG-POLEONLEFT.eps">
              Pole on LEFT
            </a>
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a href="/resources/templates/G4M-12FEATHERFLAG-POLEONRIGHT.eps">
              Pole on RIGHT
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style"><%= image_tag 'jpg.png', :class => 'img-responsive filetype-icon'%><br>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a data-featherlight href="/resources/templates/G4M-12FEATHERFLAG-POLEONLEFT.jpg">
              Pole on LEFT
            </a>
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a data-featherlight href="/resources/templates/G4M-12FEATHERFLAG-POLEONRIGHT.jpg">
              Pole on RIGHT
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-12"><hr></div>
      <div class="col-md-4">
        <%= image_tag 'port_thumbs/teardrop.png', :class => 'img-responsive'%>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style">
          <%= image_tag 'eps.png', :class => 'img-responsive filetype-icon'%><br>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a href="/resources/templates/G4M-11TEARDROPFLAG-POLEONLEFT.eps">
              Pole on LEFT
            </a>
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a href="/resources/templates/G4M-11TEARDROPFLAG-POLEONRIGHT.eps">
              Pole on RIGHT
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style"><%= image_tag 'jpg.png', :class => 'img-responsive filetype-icon'%><br>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a data-featherlight href="/resources/templates/G4M-11TEARDROPFLAG-POLEONLEFT.jpg">
              Pole on LEFT
            </a>
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a data-featherlight href="/resources/templates/G4M-11TEARDROPFLAG-POLEONRIGHT.jpg">
              Pole on RIGHT
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

