
<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <h1 class="product-jumbo"><%= product[:name] %></h1>
  </div>
</div>

<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <div class="col-md-6 md-margin-bottom-40">
      <h2><%= product[:by_line] %></h2>
      <p><%= product[:description] %></p>
      <div class="row portfolio-item1">
        <div class="col-xs-12">
          <ul class="list-unstyled spec-list">
            <% product[:tags].each do |tag| %>
              <li>
                <div class="col-sm-2 spec-col">
                  <i class="fa <%= tag[:icon_class] %> spec-icon"></i>
                </div>
                <span class="spec-heading"><%= tag[:name] %></span>
                <br>
                <span class="spec-desc"><%= tag[:value] %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <a href="/contact" class="btn btn-primary btn-free-quote rounded">
        FREE PRICE QUOTE
      </a>
    </div>

    <div class="col-md-6">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <% product[:images].each_with_index do |image, index| %>
            <div class="item <%= 'active' if index == 0 %>">
              <%= image_tag image[:src] %>
              <div class="carousel-caption">
                <p><%= image[:caption] %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container content">
      <div class="headline">
        <h2 class="pull-left">Related Products</h2>
      </div>
    </div>
    <div class="sorting-block">
      <ul class="row sorting-grid">
        <% related_products.each do |product_name| %>
          <%= partial "print_port_items/#{product_name}" %>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
