<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Canary Print + Design" %></title>

    <!-- Add Stylesheets and JS -->
    <%= stylesheet_link_tag "main" %>


  </head>
  <body>

  <!-- Add Navigation Bar -->
  <%= partial "_partials/nav" %>


  <!-- The dynamic page content -->
  <%= yield %>


  <!-- Add Footer -->
  <%= partial "_partials/footer" %>

  <%= javascript_include_tag  "main" %>


<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63603293-1', 'auto');
  ga('send', 'pageview');
</script>


  </body>
</html>
