---
title: "Canary - Brochures"
---


<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Brochures</h1>
    <div class="voffset6"></div>
  </div>
</div>

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <!-- Content Info -->
    <div class="col-md-6 md-margin-bottom-40">
      <h2>Brochures and Flyers - Use them for menus, price-lists, services, and many more!</h2>
      <p>Our premium quality brochures and flyers are an effective way of getting important information to your clients</p>
      <div class="row portfolio-item1">
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <%= partial "specs/paper_stock" %>
              70lb, 80lb, 100lb
            <%= partial "specs/end_li" %>

            <%= partial "specs/prod_time" %>
              2-4 Days + Shipping
            <%= partial "specs/end_li" %>

            <%= partial "specs/quantity" %>
              100 - 25,000pcs
            <%= partial "specs/end_li" %>

            <%= partial "specs/standard_finishes" %>
              No Coating, AQ, Satin AQ, UV
            <%= partial "specs/end_li" %>

            <%= partial "specs/addl_finishes" %>
              Folding and Bundling available
            <%= partial "specs/end_li" %>

            <%= partial "specs/drop_ship" %>
            Yes!
            <%= partial "specs/end_li" %>
          </ul>
        </div>
      </div>
      <a href="/contact" class="btn-u btn-u-xlg rounded spec-button">FREE PRICE QUOTE</a>
    </div>
    <!-- End Content Info -->

    <!-- Carousel -->
    <div class="col-md-6">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'products/brochure1.jpg' %>
            <div class="carousel-caption">
              <p><a href="http://www.synergydayspa.ca/">Synergy Day Spa</a> - services and prices brochure</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'products/brochure2.jpg' %>
            <div class="carousel-caption">
              <p>A diagram of the various folds available</p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  <!-- End Carousel -->
  </div>
  <!--/row-->
  <!--=== Content Part ===-->
  <div class="container content">
    <!-- Portfolio Sorting Blocks -->
    <div class="sorting-block">
      <ul class="row sorting-grid">
        <%= partial "partials/print_port_items/postcards" %>
        <%= partial "partials/print_port_items/banners" %>
        <%= partial "partials/print_port_items/posters" %>
        <%= partial "partials/print_port_items/silk_cards" %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
