---
title: "Canary - Flags"
---


<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Flags</h1>
    <div class="voffset6"></div>
  </div>
</div>

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <!-- Content Info -->
    <div class="col-md-6 md-margin-bottom-40">
      <h2>Indoor or Outdoor Flags with stands</h2>
      <p>Flags are one of the best tools to draw attention, second only to the fan-blown inflated dancing men at car dealerships and cheap strip-malls that wave their arms about wildly.  Coming in both 'feather' (12ft high) and 'tear-drop' (11ft high) styles, our prices are sure to keep your tears from dropping.</p>
      <div class="row portfolio-item1">
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <%= partial "specs/material" %>
              3oz Polyester
            <%= partial "specs/end_li" %>

            <%= partial "specs/prod_time" %>
              5-7 Days + Shipping
            <%= partial "specs/end_li" %>

            <%= partial "specs/quantity" %>
              1 - 25pcs
            <%= partial "specs/end_li" %>

            <%= partial "specs/standard_finishes" %>
              Polyester
            <%= partial "specs/end_li" %>

            <%= partial "specs/addl_finishes" %>
              Indoor or Outdoor hardware, left or right facing
            <%= partial "specs/end_li" %>

            <%= partial "specs/drop_ship" %>
            Yes!
            <%= partial "specs/end_li" %>
          </ul>
        </div>
      </div>
      <a href="/contact" class="btn-u btn-u-xlg rounded spec-button">FREE PRICE QUOTE</a>
    </div>
    <!-- End Content Info -->

    <!-- Carousel -->
    <div class="col-md-6">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'products/flag1.jpg' %>
            <div class="carousel-caption">
              <p>Brighten up your brand</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'products/flag2.jpg' %>
            <div class="carousel-caption">
              <p>Let your true colors fly!</p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  <!-- End Carousel -->
  </div><!--/row-->

  <div class="headline">
    <h2 class="pull-left">Related Products</h2>
  </div>

  <!--=== Content Part ===-->
  <div class="container content">
    <!-- Portfolio Sorting Blocks -->
    <div class="sorting-block">
      <ul class="row sorting-grid">
        <%= partial "partials/print_port_items/banners" %>
        <%= partial "partials/print_port_items/posters" %>
        <%= partial "partials/print_port_items/brochures" %>
        <%= partial "partials/print_port_items/postcards" %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
