---
title: "Canary - Foil Cards"
---


<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Foil Business Cards</h1>
    <div class="voffset6"></div>
  </div>
</div>

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <!-- Content Info -->
    <div class="col-md-6 md-margin-bottom-40">
      <h2>4 out of 5 crows agree - shiny business cards are "squack squack!"</h2>
      <p>Add a bit of shimmer and shine to your branding by getting Foil Business cards!  Available in Copper, Gold, and Silver, these cards are a nice addition to a professional branding package</p>
      <div class="row portfolio-item1">
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <%= partial "specs/card_stock" %>
              14pt, 16pt, 20pt White Plastic
            <%= partial "specs/end_li" %>

            <%= partial "specs/prod_time" %>
              5-7 Days + Shipping
            <%= partial "specs/end_li" %>

            <%= partial "specs/quantity" %>
              500 - 5,000pcs
            <%= partial "specs/end_li" %>

            <%= partial "specs/standard_finishes" %>
              Spot UV, Silk Laminated, Copper/Gold/Silver Foil
            <%= partial "specs/end_li" %>

            <%= partial "specs/addl_finishes" %>
              Rounded Corners
            <%= partial "specs/end_li" %>

            <%= partial "specs/drop_ship" %>
            Yes!
            <%= partial "specs/end_li" %>
          </ul>
        </div>
      </div>
      <a href="/contact" class="btn-u btn-u-xlg rounded spec-button">FREE PRICE QUOTE</a>
    </div>
    <!-- End Content Info -->

    <!-- Carousel -->
    <div class="col-md-6">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'products/foil1.jpg' %>
            <div class="carousel-caption">
              <p>1 of 2 - Foil reflecting</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'products/foil2.jpg' %>
            <div class="carousel-caption">
              <p>2 of 2 - Foil sort of reflecting</p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  <!-- End Carousel -->
  </div><!--/row-->
  <!--=== Content Part ===-->
  <div class="container content">
    <!-- Portfolio Sorting Blocks -->
    <div class="sorting-block">
      <ul class="row sorting-grid">
        <%= partial "partials/print_port_items/silk_cards" %>
        <%= partial "partials/print_port_items/thick_cards" %>
        <%= partial "partials/print_port_items/postcards" %>
        <%= partial "partials/print_port_items/posters" %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
