---
title: "Canary - Foil Cards"
---

<%= partial "product_page", locals: {
  jumbotron_image_number: "5",
  jumbotron_text: "Foil Business Cards",

  product_heading: "Foil adds that much-needed glimmer to your promotional material",
  product_desc: "Add a bit of shimmer and shine to your branding by getting Foil Business cards!  Available in Copper, Gold, and Silver, these cards are a nice addition to a professional branding package",

  material_name:"Card Stock",
  material_types:"14pt, 16pt, 20pt White Plastic",
  production_time:"5-7 Days + Shipping",
  quantity:"500 - 5,000pcs",
  standard_finishes:"Spot UV, Silk Laminated, Copper/Gold/Silver Foil",
  addl_finishes:"Rounded Corners",

  image_1:"products/foil1.jpg",
  desc_1:"1 of 2 - Foil reflecting",

  image_2:"products/foil2.jpg",
  desc_2:"2 of 2 - Foil sort of reflecting",

  image_3:"",
  desc_3:"",

  image_4:"",
  desc_4:"",

  image_5:"",
  desc_5:"",

  image_6:"",
  desc_6:"",

  related_product_1:"not working1",
  related_product_2:"not working2",
  related_product_3:"not working3",
  related_product_4:"not working4"

} %>

<div class="container">
  <div class="container content">
    <div class="headline">
      <h2 class="pull-left">Related Products</h2>
    </div>
  </div>
  <div class="sorting-block">
    <ul class="row sorting-grid">
      <%= partial "print_port_items/silk_cards" %>
      <%= partial "print_port_items/thick_cards" %>
      <%= partial "print_port_items/postcards" %>
      <%= partial "print_port_items/posters" %>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
