---
title: "Canary - Posters"
---


<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Posters</h1>
    <div class="voffset6"></div>
  </div>
</div>

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <!-- Content Info -->
    <div class="col-md-6 md-margin-bottom-40">
      <h2>Posters - natures way of saying "get over here!"</h2>
      <p>Often used for upselling in-store, or for promotions/events.  Hang on walls, in windows, or on telephone poles.</p>
      <div class="row portfolio-item1">
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <%= partial "specs/card_stock" %>
              12pt Card Stock, Photo Paper
            <%= partial "specs/end_li" %>

            <%= partial "specs/prod_time" %>
              2-4 Days + Shipping
            <%= partial "specs/end_li" %>

            <%= partial "specs/quantity" %>
              1 - 150pcs
            <%= partial "specs/end_li" %>

            <%= partial "specs/standard_finishes" %>
              C2S (12pt), Gloss (Photopaper)
            <%= partial "specs/end_li" %>

            <%= partial "specs/addl_finishes" %>
              Securely shipped in cardboard tubes
            <%= partial "specs/end_li" %>

            <%= partial "specs/drop_ship" %>
            Yes!
            <%= partial "specs/end_li" %>
          </ul>
        </div>
      </div>
      <a href="/contact" class="btn btn-primary btn-lg rounded spec-button">FREE PRICE QUOTE</a>
    </div>
    <!-- End Content Info -->

    <!-- Carousel -->
    <div class="col-md-6">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'products/poster1.jpg' %>
            <div class="carousel-caption">
              <p>Impress your clients</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'products/poster2.jpg' %>
            <div class="carousel-caption">
              <p>SAY IT LOUD!</p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  <!-- End Carousel -->
  </div><!--/row-->
  <!--=== Content Part ===-->
  <div class="container content">
    <!-- Portfolio Sorting Blocks -->
    <div class="sorting-block">
      <ul class="row sorting-grid">
        <%= partial "partials/print_port_items/brochures" %>
        <%= partial "partials/print_port_items/banners" %>
        <%= partial "partials/print_port_items/canvas" %>
        <%= partial "partials/print_port_items/flags" %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
