---
title: "Canary - Silk Cards"
---

<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Silk-Laminte Business Cards</h1>
    <div class="voffset6"></div>
  </div>
</div>

<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <div class="col-md-6 md-margin-bottom-40">
      <h2>Silky smooth and soft cards?  Yes please!</h2>
      <p>A client favorite, these cards get an immediate reaction when handing them to prospective clients and investors.  The silk-laminate finish also helps protect against the elements</p>
      <div class="row portfolio-item1">
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <%= partial "specs/card_stock" %>
              14pt, 16pt, 18pt
            <%= partial "specs/end_li" %>

            <%= partial "specs/prod_time" %>
              2-4 Days + Shipping
            <%= partial "specs/end_li" %>

            <%= partial "specs/quantity" %>
              100 - 10,000pcs
            <%= partial "specs/end_li" %>

            <%= partial "specs/standard_finishes" %>
              Spot-UV, Metallic Foil
            <%= partial "specs/end_li" %>

            <%= partial "specs/addl_finishes" %>
              Rounded Corners
            <%= partial "specs/end_li" %>

            <%= partial "specs/drop_ship" %>
            Yes!
            <%= partial "specs/end_li" %>
          </ul>
        </div>
      </div>
      <a href="/contact" class="btn btn-primary btn-lg rounded spec-button">FREE PRICE QUOTE</a>
    </div>

    <div class="col-md-6">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'products/silk1.jpg' %>
            <div class="carousel-caption">
              <p>1 of 2 - Silk card + Spot UV</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'products/silk2.jpg' %>
            <div class="carousel-caption">
              <p>2 of 2 - Silk card + Spot UV.  Just look at that glimmer!!</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'products/silk3.jpg' %>
            <div class="carousel-caption">
              <p>Silk card with a custom Spot UV bridge for an engineering company</p>
            </div>
          </div>
        </div>
        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container content">
    <div class="headline">
      <h2 class="pull-left">Related Products</h2>
    </div>
  </div>
  <div class="sorting-block">
    <ul class="row sorting-grid">
      <%= partial "print_port_items/foil_cards" %>
      <%= partial "print_port_items/postcards" %>
      <%= partial "print_port_items/canvas" %>
      <%= partial "print_port_items/flags" %>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

