---
title: "Canary - Thick Cards"
---


<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Thick Cards</h1>
    <div class="voffset6"></div>
  </div>
</div>

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <!-- Content Info -->
    <div class="col-md-6 md-margin-bottom-40">
      <h2>Our most popular seller!!</h2>
      <p>Almost every company has, and uses, business cards.  Our thick business cards ensure your company looks professional and respectable, and shows you value quality and workmanship</p>
      <div class="row portfolio-item1">
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <%= partial "specs/card_stock" %>
              16pt, 18pt, 20pt Plastic
            <%= partial "specs/end_li" %>

            <%= partial "specs/prod_time" %>
              2-4 Days + Shipping
            <%= partial "specs/end_li" %>

            <%= partial "specs/quantity" %>
              500 - 100,000pcs
            <%= partial "specs/end_li" %>

            <%= partial "specs/standard_finishes" %>
              No Coating, AQ, Matte/Dull, Flood UV, Spot UV, Silk Laminate
            <%= partial "specs/end_li" %>

            <%= partial "specs/addl_finishes" %>
              Rounded Corners, Various Sizes Available
            <%= partial "specs/end_li" %>

            <%= partial "specs/drop_ship" %>
            Yes!
            <%= partial "specs/end_li" %>
          </ul>
        </div>
      </div>
      <a href="/contact" class="btn-u btn-u-xlg rounded spec-button">FREE PRICE QUOTE</a>
    </div>
    <!-- End Content Info -->

    <!-- Carousel -->
    <div class="col-md-6">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'products/thick1.jpg' %>
            <div class="carousel-caption">
              <p>A thick card with rounded corners</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'products/thick2.jpg' %>
            <div class="carousel-caption">
              <p>A beautifully designed 16pt card for <a href="http://www.vanislepaddleboardco.com/">VanIsle Paddleboard Co.</a></p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  <!-- End Carousel -->
  </div><!--/row-->
  <!--=== Content Part ===-->
  <div class="container content">
    <!-- Portfolio Sorting Blocks -->
    <div class="sorting-block">
      <ul class="row sorting-grid">
        <%= partial "partials/print_port_items/foil_cards" %>
        <%= partial "partials/print_port_items/silk_cards" %>
        <%= partial "partials/print_port_items/standard_cards" %>
        <%= partial "partials/print_port_items/postcards" %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->

