<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Templates and Guides</h1>
    <div class="voffset6"></div>
  </div>
</div>


<div class="container content faq-page">
  <div class="row equal-height-columns margin-bottom-40">

    <div class="col-sm-4">
      <div class="easy-block-v3 service-or equal-height-column">
        <div class="service-bg"></div>
        <i class="icon-layers fa fa-desktop color-green animated wow bounceInUp"></i>
        <div class="inner-faq-b">
          <h3>What program do I need?</h3>
          <p>Canary uses Adobe Illustrator and Adobe InDesign. You can also use CorelDraw or other professional Vector/Print solutions</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="easy-block-v3 service-or equal-height-column">
        <div class="service-bg"></div>
        <i class="icon-layers fa fa-copy color-green animated wow bounceInUp"></i>
        <div class="inner-faq-b">
          <h3>What file formats?</h3>
          <p>For finished, print-ready projects, we require PDF produced at High Quality Print setting, with all elements converted to outlines and bleeds set properly</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="easy-block-v3 service-or equal-height-column">
        <div class="service-bg"></div>
        <i class="icon-layers fa fa-exclamation-triangle color-green animated wow bounceInUp"></i>
        <div class="inner-faq-b">
          <h3>Need a template?</h3>
          <p>Please specify the product, dimensions, and any custom finishing</p>
          <a class="btn-link btn-block btn-lg" href="mailto:info@canaryprint.ca">Request Template</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="headline">
        <h2>Print-File Templates</h2>
      </div>
      <div class="row main-check margin-bottom-30">
        <div class="tab-content">
          <div id="grid-container"></div>
          <div id="home" class="tab-pane fade in active">
            <div id="accordion-v1" class="panel-group acc-v1">
              <%= partial "faq/brochure" %>
              <%= partial "faq/business_card" %>
              <%= partial "faq/flags" %>
              <%= partial "faq/postcard" %>
              <%= partial "faq/standup_banner" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="headline">
        <h2>Frequent Questions</h2>
      </div>
      <div class="row main-check margin-bottom-30">
        <div class="col-xs-12 md-margin-bottom-20">
          <ul class="list-unstyled ">
            <li>
              <p>
                <strong>CMYK</strong><br>
                All files MUST be in CMYK for printing
              </p>
            </li>
            <div class="voffset4"></div>
            <li>
              <p>
                <strong>Bleeds</strong><br>
                We typically use .125" bleeds on our print. If unsure, please ask or check template file
              </p>
            </li>
            <div class="voffset4"></div>
            <li>
              <p>
                <strong>Proofs</strong><br>
                We will provide a JPG proof for your approval, unless otherwise requested
              </p>
            </li>
            <div class="voffset4"></div>
            <li>
              <p>
                <strong>Outlines</strong><br>
                Please convert all elements to outlines!!
              </p>
            </li>
            <div class="voffset4"></div>
            <li>
              <p>
                <strong>Rich Black</strong>
                Please remember that CMYK rich-black is 30/30/30/100 (NOT 0/0/0/100)
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



