---
title: "Canary Print + Design"
---


<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">A few of our clients</h1>
    <div class="voffset6"></div>
  </div>
</div>

<p class="text-muted text-center">Branding | Graphic Design | Logo</p>

<div class="portfolio-large container">
  <div class="row">
    <div class="col-md-4">
      <%= partial "shared/portfolio_item_large", locals: {
        name: "Surespan Group",
        href: "design/surespan",
        image: "clients/surespan_logo.png",
        tags: [:graphic_design, :logo, :web_development]
      } %>
    </div>
    <div class="col-md-4">
      <%= partial "shared/portfolio_item_large", locals: {
        name: "3Percent Realty",
        href: "design/3percent",
        image: "clients/3percent_logo.png",
        tags: [:branding, :graphic_design]
      } %>
    </div>
    <div class="col-md-4">
      <%= partial "shared/portfolio_item_large", locals: {
        name: "Canadian Steam",
        href: "design/canadian-steam",
        image: "clients/canadiansteam_logo.png",
        tags: [:branding, :logo, :web_development]
      } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= partial "shared/portfolio_item_large", locals: {
        name: "Aslan Venture INC",
        href: "design/aslan",
        image: "clients/aslan_logo.png",
        tags: [:branding, :graphic_design]
      } %>
    </div>
    <div class="col-md-4">
      <%= partial "shared/portfolio_item_large", locals: {
        name: "Pacific Denture",
        href: "design/pacific-denture",
        image: "clients/pacificdenture_logo.png",
        tags: [:branding, :logo, :web_development]
      } %>
    </div>
    <div class="col-md-4">
      <%= partial "shared/portfolio_item_large", locals: {
        name: "Calvori Hearing",
        href: "design/calvori",
        image: "clients/calvori_logo.png",
        tags: [:graphic_design, :web_development]
      } %>
    </div>
  </div>
</div>
