---
priority: 0.8
---

<div class="jumbotron jumbollax jumbollax2">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Popular Products</h1>
    <div class="voffset10"></div>
  </div>
</div>

<div class="container">
  <h1 class="text-muted">
    CANARY - <i>DOING THINGS BETTER</i>
  </h1>
  <p>
    We believe <i>premium quality</i> isn’t an option for businesses - it’s a requirement.<br>
    We believe <i>top-tier design</i> is one of the keys to business longevity.<br>
    We believe these services should be available to both small and large businesses.
  </p>
  <p>
    At Canary, our job is helping your company look better, feel better, and perform better.
  </p>
</div>

<div class="container">
  <ul class="product-tile-filters text-center list-inline">
    <li>
      <%= input_tag :radio, name: :filter, value: "*", id: "filter-all", checked: true %>
      <%= label_tag "filter-all", caption: "All" %>
    </li>
    <li>
      <%= input_tag :radio, name: :filter, value: ".top", id: "filter-top" %>
      <%= label_tag "filter-top", caption: "Top Sellers" %>
    </li>
    <li>
      <%= input_tag :radio, name: :filter, value: ".marketing", id: "filter-marketing" %>
      <%= label_tag "filter-marketing", caption: "Marketing" %>
    </li>
    <li>
      <%= input_tag :radio, name: :filter, value: ".large", id: "filter-large" %>
      <%= label_tag "filter-large", caption: "Large Format" %>
    </li>
    <li>
      <%= input_tag :radio, name: :filter, value: ".outdoor", id: "filter-outdoor" %>
      <%= label_tag "filter-outdoor", caption: "Outdoor" %>
    </li>
  </ul>

  <div class="product-tiles">
    <%= partial "_partials/print_port_items/banners" %>
    <%= partial "_partials/print_port_items/brochures" %>
    <%= partial "_partials/print_port_items/canvas" %>
    <%= partial "_partials/print_port_items/flags" %>
    <%= partial "_partials/print_port_items/foil_cards" %>
    <%= partial "_partials/print_port_items/postcards" %>
    <%= partial "_partials/print_port_items/posters" %>
    <%= partial "_partials/print_port_items/silk_cards" %>
    <%= partial "_partials/print_port_items/standard_cards" %>
    <%= partial "_partials/print_port_items/thick_cards" %>
  </div>
</div>
