---
title: "Canary Print + Design"
---

<div class="jumbotron jumbollax jumbollax2">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Popular Products</h1>
    <div class="voffset10"></div>
  </div>
</div>

<div class="container">
  <h1 style="color:grey;">CANARY - <i>DOING THINGS BETTER</i></h1>
  <p>
    We believe <i>premium quality</i> isn’t an option for businesses - it’s a requirement.<br>
    We believe <i>top-tier design</i> is one of the keys to business longevity.<br>
    We believe these services should be available to both small and large businesses.
  </p>
  <p>
    At Canary, our job is helping you look better, feel better, and perform better.
  </p>
</div>


<!--=== Content Part ===-->
<div class="container content">
  <!-- Portfolio Sorting Blocks -->
  <div class="sorting-block">
    <div class="content-xs">
      <ul class="sorting-nav sorting-nav-v1 text-center">
        <li class="filter" data-filter="all">All</li>
        <li class="filter" data-filter="cat_top">Top Sellers</li>
        <li class="filter" data-filter="cat_marketing">Marketing</li>
        <li class="filter" data-filter="cat_large">Large Format</li>
        <li class="filter" data-filter="cat_outdoor">Outdoor</li>
      </ul>
    </div>
    <ul class="row sorting-grid">
      <%= partial "partials/print_port_items/silk_cards" %>
      <%= partial "partials/print_port_items/canvas" %>
      <%= partial "partials/print_port_items/foil_cards" %>
      <%= partial "partials/print_port_items/flags" %>
      <%= partial "partials/print_port_items/thick_cards" %>
      <%= partial "partials/print_port_items/banners" %>
      <%= partial "partials/print_port_items/standard_cards" %>
      <%= partial "partials/print_port_items/brochures" %>
      <%= partial "partials/print_port_items/postcards" %>
      <%= partial "partials/print_port_items/posters" %>
    </ul>
    <div class="clearfix"></div>
  </div>
<!-- End Portfolio Sorting Blocks -->
</div><!--/container-->
<!--=== End Content Part ===-->




